:root {
  --first-background-color: #000000;
  /* --second-background-color: #000000; */
  --font-color: #FFFFFF;
  --button-color: #F9804B;
  --selected-color:#FFEE2E;
  --first-border-color: #FA6F32;
  --second-border-color: #FE9013;

}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

.button {
  background-color: var(--button-color);
  text-transform: uppercase;
  color: var(--font-color);
  border-radius: 25px;
  padding: 18px 0px;
  width: 298px;
  border: none;
}

.header {
  background-color: var(--first-background-color);
  color: var(--font-color);
  padding: 14px 0;
}

.header__headering {
  position: absolute;
  left: -99999px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
}

.header__left__wrapper {
  display: flex;
  column-gap: 20px;
}

.header__nav__list {
  display: flex;
  column-gap: 60px;
}

.watch-online {
  height: 700px;
  background-image: url('../../assets/images/giant-panda.jpg');
  background-repeat: no-repeat;
  background-position: 0 -80px;
  background-size: cover;
  color: var(--font-color);
}

.watch-online__wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.watch-online__circle {
  position: absolute;
  right: 110px;
  top: 11px;
  background-color: var(--button-color);
  height: 465px;
  width: 465px;
  border-radius: 50%;
}

.watch-online__title {
  position: absolute;
  right: 2px;
  top: 82px;
  text-transform: uppercase;
  width: 500px;
  font-size: 105px;
  font-weight: 700;
  text-align: center;
  line-height: 77%;
}

.watch-online__title span {
  color: var(--selected-color);
}

.watch-online__button {
  position: absolute;
  right: 101px;
  top: 544px;
}

.backstage {
  padding-top: 140px;
  padding-bottom: 100px;
  background-image: url('../../assets/images/flower_foto1.png');
  background-repeat: no-repeat;
  background-position-y: 24%;
  background-position-x: 107.5%;
}

.backstage__wrapper {
  display: flex;
  column-gap: 86px;
  width: 1160px;
  margin: 0 auto;
}

.backstage__image {
  width: 609px;
  height: 403px;
}

.backstage__right {
  margin-top: -38px;
}

.backstage__right__title {
  margin-bottom: 25px;
  line-height: 116%;
}
.backstage__right__text {
  line-height: 125%;
}

.backstage__right__subtitle {
  margin-top: 55px;
}

.backstage__right__text__bottom {
  line-height: 141%;
}

.pets {
  margin-top: 62px;
  padding-bottom: 100px;
  background-image: url('../../assets/images/palm_foto.png'), url('../../assets/images/strelitzia1.png');
  background-position: -82% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
}

.pets__wrapper {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
}

.pets__items__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 28px;
  row-gap: 21px;
  width: 1160px;
  margin: 0 auto;
}

.pets__item {
  width: 366px;
  position: relative;
  border-radius: 4px;
  background: white;
  background-clip: padding-box;
}

.pets__item::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(var(--first-border-color), var(--second-border-color));
  content: '';
  z-index: -1;
  border-radius: 4px;
}

.pets__item__image{
  width: 366px;
  height: 366px;
  border-radius: 4px 4px 0 0;
}

.pets__item__description__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.pets__item__description__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  margin: 5px 0 0 16px;
}

.pets__item__description__text__bottom {
  font-weight: 300;
  font-size: 15px;
  margin: 0 0 0 16px;
}

.pets__item__description__food-icon {
  margin-right: 10px;
}

.feed {
  background-color: #F9804B;
  height: 200px;
}