@media only screen and (max-width: 640px) {

  .header {
    position: fixed;
    padding: 4px 0px;
  }

  .header__wrapper {
    width: 100vw;
  }

  .header__left__wrapper {
    width: 98vw;
    justify-content: space-between;
  }

  .header .nav__list {
    display: none;
  }

  .nav__burger__menu {
    display: block;
    width: 27px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(264deg) brightness(106%) contrast(102%);
  }

  .header__designed-by {
    display: none;
  }

  .header .logo__bamboo {
    top: 13px;
    left: 21px;
    height: 11px;
  }

  .header .logo__wrapper {
    height: 23px;
    border: none;
    margin-top: -4px;
    margin-left: 2px;
  }

  header .logo__text {
    font-size: 13px;
  }

  .panda-photo {
    height: 369px;
    background-position: -285px 33px;
    background-size: 219%;
  }


  .feed__wrapper {
    padding-bottom: 15px;
  }

  .feed__title {
    margin-bottom: 20px;
    padding-right: 29px;
    line-height: 31px;
    margin-top: 22px;
    font-size: 24px;
  }

  .feed__subtitle {
    margin-top: 30px;
    margin-bottom: 33px;
  }

  .feed__text {
    margin-right: 0px;
  }

  .feed__down__wrapper {
    padding-top: 11px;
    width: 94vw;
    padding-left: 37px;
    padding-bottom: 16px;
  }

  .feed__down__title {
    margin-left: 9px;
  }

  .feed__down__subtitle {
    margin-top: -5px;
    text-align: center;
    padding-left: 9px;
  }


  .feed__down__panda__wrapper {
    width: 522px;
    padding-top: 8px;
    column-gap: 73px;
  }

  .feed__down__panda__text {
    margin-left: -13px;
    width: 159px;
  }

  .feed__down__radio__title {
    margin-left: -43px;
    margin-top: -7px;
    margin-bottom: 5px;
  }

  .feed__down__radio__item__wrapper {
    width: 46px;
  }

  .feed__down__radio__item__wrapper:nth-of-type(2), .feed__down__radio__item__wrapper:nth-of-type(3) {
    display: none;
  }

  .feed__down__radio__wrapper {
    margin-left: -36px;
    margin-right: -46px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .feed__down__radio__wrapper:after {
    width: 86.5%;
    left: 38px;
  }

  .radio__item__checkmark__wrapper {
    left: 3px;
  }

  .feed__amount__inputs__wrapper {
    padding-left: 8px;
  }

  .feed__amount__input__number {
    width: 174px;
    height: 39px;
  }

  .feed__amount__input__sign {
    top: 11px;
    left: 62.5%;
  }

  .period__inputs__wrapper {
    margin-top: 33px;
  }

  .footer {
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .footer__subscription__wrapper {
    display: none;
  }

  .footer__bottom__left__wrapper {
    width: 94vw;
    align-items: center;
    margin-top: -50px;
  }

  .footer__bottom__button {
    margin-top: 58px;
  }


  .footer__social__wrapper {
    row-gap: 18px;
    margin-left: 2px;
  }

  .footer__nav {
    margin-left: -37px;
    margin-top: 58px;
    width: auto;
  }

  .footer__nav .nav__list {
    column-gap: 37px;
  }

  .footer__desined__wrapper {
    margin-left: 11%;
  }
}

@media only screen and (max-width: 630px) {
  .panda-photo {
    background-size: auto;
  }

  .feed__down__panda__wrapper {
    width: 80%;
    column-gap: 29px;
  }

  .feed__down__panda__right {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .feed__down__radio__wrapper:after {
    width: 84.5%;
  }
}

@media only screen and (max-width: 530px) {
  .feed__down__radio__wrapper:after {
    width: 82.5%;
  }
}

@media only screen and (max-width: 470px) {
  .feed__down__radio__wrapper:after {
    width: 80.5%;
  }

  .feed__down__radio__item__wrapper {
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  .feed__down__radio__wrapper:after {
    width: 77.5%;
  }

  .feed__down__panda__wrapper {
    column-gap: 0px;
  }

  .feed__down__panda__left__with-multiply__wrapper {
    column-gap: 0px;
  }
}

@media only screen and (max-width: 360px) {
  .feed__down__radio__wrapper:after {
    width: 73.5%;
  }
}