@media only screen and (max-width: 640px) {

  .header {
    position: fixed;
    padding: 4px 0px;
  }

  .header__wrapper {
    width: 100vw;
  }

  .header__left__wrapper {
    width: 98vw;
    justify-content: space-between;
  }

  .header .nav__list {
    display: none;
  }

  .nav__burger__menu {
    display: block;
    width: 27px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(264deg) brightness(106%) contrast(102%);
  }

  .header__designed-by {
    display: none;
  }

  .header .logo__bamboo {
    top: 13px;
    left: 21px;
    height: 11px;
  }

  .header .logo__wrapper {
    height: 23px;
    border: none;
    margin-top: -4px;
    margin-left: 2px;
  }

  header .logo__text {
    font-size: 13px;
  }

  .footer {
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .footer__subscription__wrapper {
    display: none;
  }

  .footer__bottom__left__wrapper {
    width: 94vw;
    align-items: center;
    margin-top: -50px;
  }

  .footer__bottom__button {
    margin-top: 58px;
  }


  .footer__social__wrapper {
    row-gap: 18px;
    margin-left: 2px;
  }

  .footer__nav {
    margin-left: -37px;
    margin-top: 58px;
  }

  .footer__nav .nav__list {
    column-gap: 37px;
  }

  .footer__desined__wrapper {
    margin-left: 11%;
  }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 550px) {

}